{% extends 'base.html' %}
{% load static %}

{% block title %}
{{ title }}
{% endblock title %}

{% block carousel %}
{% endblock carousel %}

{% block main %}

<!-- About 3 - Bootstrap Brain Component -->
<section class="py-3 py-md-5">

    <div class="container overflow-hidden mt-10">
        <div class="row gy-2 gy-md-0 justify-content-xxl-center">
            <div class="col-12 order-md-1 col-md-8 col-xxl-6">
                <div class="text-center text-md-start">
                    <h2 class="display-3 fw-bold lh-1">Ayden Tutkishbaev</h2>
                    <p class="text-secondary fs-4 mb-2">Python developer</p>
                    <hr class="w-25 mx-auto ms-md-0 mb-4 text-secondary">
                    <p>Good part of the day, internet surfer! On this page you can read and find out all information you
                        need.</p>
                    <p>This my first ever serious python project powered by knowledge from PROWEB learning center. There were no people involved in development, but me.
                        I am glad to see you visiting my website. Languages used for the site creation: Python, Bootstrap service (HTML, CSS, JS). The project is launched via "Pythonanywhere" service.
                    </p>
                    <p>My name is Ayden Tutkishbaev, aka "HIKARU". As you can see, I am back-end developer. Apart from
                        Python programming language I use elements of HTML, CSS, JavaScript front-end languages a
                        little.</p>
                    <p>Thanks to the languages above, my team creates many different websites as well as Telegram
                        bots.</p>
                    <p>On the left side you can see two buttons which will redirect you to my Instagram and GitHub -
                        contact me
                        if you are interested!</p>
                </div>
            </div>
            <div class="col-12 order-md-0 col-md-4 col-xxl-4">
                <div class="text-center text-md-start me-md-3 me-xl-5">
                    <p class="mb-4">
                        <span class="d-block display-6 lh-1">1</span>
                        <span class="fs-4 text-secondary">year of experience</span>
                    </p>
                    <div class="d-grid">
                        <a href="https://www.instagram.com/klhbtf" class="btn btn-danger btn-lg mb-2" role="button" aria-pressed="true">INSTAGRAM</a>
                        <a href="https://github.com/ayden-tutkishbaev" class="btn btn-secondary btn-lg" role="button" aria-pressed="true">GITHUB</a>
                        <p class="text-secondary fs-4 mb-2">E-mail: aydentutkishbayev@gmail.com</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock main %}