{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock title %}

{% block carousel %}
{% endblock carousel %}

{% block main %}


<div class="d-flex justify-content-around mt-5">
    <div class="text-center text-md-start">
        <h2 class="display-3 fw-bold lh-1">Terms of use</h2>
        <p class="text-secondary fs-4 mb-2">GENERAL TERMS</p>
        <p>The rules apply to all users, including administrators
        </p>
        <p>Registering profile means the user automatically agrees with terms of use</p>
        <p class="text-secondary fs-4 mb-2">USERS RIGHTS</p>
        <p>Users can publish articles on any topic of relevant sections (memes, songs, games, etc.)</p>
        <p class="text-secondary fs-4 mb-2">USERS OBLIGATIONS</p>
        <p>Users are obliged to follow the rules of the site and the legislation of the country where the user is</p>
        <p class="text-secondary fs-4 mb-2">USERS ARE PROHIBITED FROM</p>
        <p>1. Publishing articles on political topics</p>
        <p>2. Publishing articles which contain strong language in large quantities </p>
        <p>3. Publishing articles containing pornographic content</p>
        <p>4. Publishing articles with content aimed at undermining the state integrity</p>
        <p>5. Publishing articles whose content violates the constitution of the country</p>
        <p>6. Publishing articles containing ideas of terrorism and extremism </p>
        <p>7. Publishing articles which humiliate or insult the honor and dignity of anyone</p>
        <p>8. Publishing the same article many times (flooding)</p>
        <p>VIOLATION OF ANY OF THE RULES ABOVE WILL RESULT IN THE BLOCK AND DELETION OF THE USER'S ACCOUNT</p>
        <p class="text-secondary fs-4 mb-2"></p>
        <p class="text-secondary fs-4 mb-2">DISCLAIMER</p>
        <p>Users are directly responsible for their publications. </p>
        <p>The administration and developer are not responsible for the content published by users of the site.</p>
    </div>
</div>

{% endblock main %}